{% extends 'base.html' %}
{% block title  %} About {% endblock title %}
{% block body %}
    <h1>Welcome To My to Application</h1>
    <p>Here is how you can use it</p>
    <pre>
        <b>This Applicarion was created using flask, with SqlLite as the database</b>
        this application uses form actions to create manage and delete your to-dos. 
        <strong>Here's How You can Create a to do</strong>
        <p>Step-1</p>
        <p>Step-2</p>
        <p>Step-3</p>
        <p>Step-4</p>
        <p>Step-5</p>
    </pre>
{% endblock body %}